<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">edit</a>
      <form class="inline" action="/<%= file %>/rename" method="get">
        <button type="submit">Rename</button>
      </form>
      <form class="inline" action="/<%= file %>/duplicate" method="post">
        <button type="submit">Duplicate</button>
      </form>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New document</a></p>

<div>
  <% if session[:username] %>
    <form class="inline" action="/users/signout" method="post">
      <p class="user-status">
        Signed in as <%= session[:username]%>.
        <button type="submit">Sign Out</button>
      </p>
    </form>
  <% else %>
    <form class="inline" action="/users/signin" method="get">
      <button type="submit">Sign In</button>
    </form>
    <form class="inline" action="/users/signup" method="get">
      <button type="submit">Sign Up</button>
    </form>
  <% end %>
</div>
